
html { 
    font-family: 'Mansalva', cursive;
    font-size: 22px;
}
.koniec {
    margin: 0;
    padding: 10px;
    text-align: center;
    }

.koniec_background {background-color: rgb(185, 202, 233)}

.obsah {
    background-color: blanchedalmond;
    padding: 50px 130px 50px 130px;
}

body {
    margin: 0;
    }

h1 {
    font-size: 4rem;
    text-align: center;
    margin: auto;
}

.Ja-Paulina {
    width: 32%;
}

.Ja-Paulina-wrapper {text-align: center;}

.nadpis {
    padding: 10px;
    background-color: rgb(235, 182, 67);}

.Menu {
list-style: none;
margin: 0 auto;
}   

li{
    display: inline-block;
    padding: 15px 50px;
    font-size: 1.6rem;
    text-align: center;
}


